<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="APIAutomation">
	<test name="APIRestAssuredAutomation">
	<parameter name="env" value="staging" />
		<classes>
			<class name="testCases.PDPAPI"></class>
			<class name="testCases.GetCartAPI"></class>
			<class name="testCases.ClearCartAPI"></class>
		</classes>
	</test>
</suite>



